<h1>New app</h1>

<% form_for([:cms,@app]) do |f| %>
  <%= f.error_messages %>
  <p>
  	<%= f.label :table_source, "Table Source" %>
	<%= f.select :table_source,[['Default','AppBase'],['Lite','AppBaseLite']] %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :class_name %><br />
    <%= f.text_field :class_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cms_apps_path %>