	<div class="navPanel">
		<div class="innerNavPanel">

			<div class="buttons" id="navMenu">
			<%= link_to_nav_style "Home", cms_root_path %>
			<%= link_to_nav_style "Section", cms_sections_path %>
			<%= link_to_nav_style "Sticker", cms_stickers_path %>
			<%= link_to_nav_style "APPS", cms_apps_path %>
			<%= link_to_nav_style "Group", cms_groups_path %>
			<%= link_to_nav_style "Templet", cms_templets_path %>
			<%= link_to_nav_style "System", '/cms/system' %>
			</div>
		</div>
	</div>